<section class="pt-150 pb-150">
            
    <div class="container">
        <div class="row">
            
            <div class="col-lg-10 m-auto">
                
                <div class="row">
                    <div class="col-md-4">
                        
                        <div class="dashboard-menu">
                            
                            
                            <ul class="nav flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="dashboard-tab"  href="/userAccount"  aria-controls="dashboard" aria-selected="false"><i class="fi-rs-user mr-10"></i>Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="orders-tab"  href="/userOrders"  aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="account-detail-tab"  href="/changePassword"  aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Login & Security</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab"  href="/userAddress"   ><i class="fi-rs-marker mr-10"></i>My Address</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab"  href="/walletDetails"   ><i class="fi-rs-marker mr-10"></i>Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab"  href="/couponDetails"   ><i class="fi-rs-marker mr-10"></i>Coupons and Offers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="address-tab"  href="/referrals"   ><i class="fi-rs-marker mr-10"></i>Referrals</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="pt-50 p-30">
                                <h3>Personal Details</h3>
                                
                                    
                            
                                <br>
                                <div class="col-6  mb-3">
                                    <label class="form-label">Name</label>
                                    <input class="form-control" type="text" value="<%=userData.name%>" disabled>
                                </div> <!-- col .// -->
                                <div class="col-lg-6  mb-3">
                                    <label class="form-label">Email</label>
                                    <input class="form-control" type="email" value="<%=userData.email%>" disabled>
                                </div> <!-- col .// -->
                                <div class="col-lg-6  mb-3">
                                    <label class="form-label">Mobile</label>
                                    <input class="form-control" type="tel" value="<%=userData.mobile%>" disabled>
                                </div> <!-- col .// -->
                                
                                <div class="col-lg-6  mb-3">
                                    <a href="/user/profile/edit"><button class="btn">Edit Profile</button></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>